<div mat-dialog-title>
    <h1>Profile Form</h1>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Code</mat-label>
                <input matInput type="text" placeholder="Ex. ADMIN" formControlName="code">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Ex. Super Admin" formControlName="name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Previleges</mat-label>
                <mat-select  formControlName="privileges" multiple >
                    <mat-option *ngFor="let val of privilegeData" [value]="val.id">{{val.code}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>